body {
    font-family: Arial, sans-serif;
    background-color:cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .calculator {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #3498db, #8e44ad);
  }
  
  .display {
    background-color: #20b6e7;
    padding: 20px;
    text-align: right;
    color: #333;
    font-size: 1.8em;
    border-bottom: 1px solid #ccc;
  }
  
  #result {
    width: 100%;
    padding: 10px;
    font-size: inherit;
    border: none;
    outline: none;
    background: none;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #fff;
    color: #333;
  }
  
  button:hover {
    background-color: #f2f2f2;
  }
  
  button:active {
    transform: translateY(2px);
  }
  